.Header {
    background: linear-gradient(135deg, #12bc83 20%, #00bbc9 70%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    height: 70px;
}

.HeaderLink {
    flex-wrap: wrap;
    max-width: 100%;
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

.HeaderLink {
    flex-wrap: wrap;
    max-width: 100%;
    font-size: 40px;
    font-weight: bolder;
    font-weight: normal;

    color: #ffffff;
}